<p>Welcome to the C# Coding Challenge. Attempt to complete as many as the tasks below as you can, which will range in difficulty. There will be multiple
  ways to complete each task.

  To get started, build and run the project. You should be greeted with a basic UI in a new window. The buttons in the menu will allow you to call the backend
  and test some of your changes. <strong>Press the "people" button to get your results</strong>. You may need to close this window and rebuild your project in between changes.</p>
<ul>
  <li>1. Add yourself to the list of people returned from the "People" API defined in the CodingChallengeController.</li>

  <li>2. Add a "Friends" property to the Persons object that will return a list of Friends that person has.</li>

  <li>3. Map some friends for the People data returned:
   - Make personA a friend of personB
   - Make personB a friend of personC
   - Make personC a friend of personA
   - Make personA, personB, and personC a friend of yourself</li>

   <li>4. Write a method that will calculate the persons Age before returning the list of People.</li>

   <li>5. Write a new POST endpoint/API with route named "Insert" that will call a method to insert a new person named "Jack Thompson" with a random DateOfBirth if someone with that name doesn't already exist.</li>

   <li>6. Write an in-memory caching system for the service layer that caches the results of the GetPeople method</li>
  </ul>

